.wnekotexture {background-image:url(t_neko2.gif);}
.awake {width:32px; height:32px; background-position: -342px -36px}
.down1 {width:32px; height:32px; background-position: -308px -70px}
.dwleft2 {width:32px; height:32px; background-position: -308px -36px}
.dwright1 {width:32px; height:32px; background-position: -342px -2px}
.right1 {width:32px; height:32px; background-position: -308px -2px}
.rtogi2 {width:32px; height:32px; background-position: -274px -70px}
.up1 {width:32px; height:32px; background-position: -274px -36px}
.up2 {width:32px; height:32px; background-position: -274px -2px}
.upleft1 {width:32px; height:32px; background-position: -240px -70px}
.upleft2 {width:32px; height:32px; background-position: -240px -36px}
.upright1 {width:32px; height:32px; background-position: -240px -2px}
.upright2 {width:32px; height:32px; background-position: -206px -70px}
.down2 {width:32px; height:32px; background-position: -206px -36px}
.dtogi1 {width:32px; height:32px; background-position: -206px -2px}
.dtogi2 {width:32px; height:32px; background-position: -172px -70px}
.dwleft1 {width:32px; height:32px; background-position: -172px -36px}
.dwright2 {width:32px; height:32px; background-position: -172px -2px}
.left1 {width:32px; height:32px; background-position: -138px -70px}
.left2 {width:32px; height:32px; background-position: -138px -36px}
.ltogi1 {width:32px; height:32px; background-position: -138px -2px}
.ltogi2 {width:32px; height:32px; background-position: -104px -70px}
.right2 {width:32px; height:32px; background-position: -104px -36px}
.rtogi1 {width:32px; height:32px; background-position: -104px -2px}
.kaki1 {width:32px; height:32px; background-position: -70px -70px}
.kaki2 {width:32px; height:32px; background-position: -70px -36px}
.sleep1 {width:32px; height:32px; background-position: -70px -2px}
.sleep2 {width:32px; height:32px; background-position: -36px -70px}
.utogi1 {width:32px; height:32px; background-position: -36px -36px}
.utogi2 {width:32px; height:32px; background-position: -36px -2px}
.jare2 {width:32px; height:32px; background-position: -2px -70px}
.mati2 {width:32px; height:32px; background-position: -2px -36px}
.mati3 {width:32px; height:32px; background-position: -2px -2px}