.wnekotexture {background-image:url(t_neko.gif);cursor:url(c_neko.cur),auto;}
.awake {width:32px; height:32px; background-position: -224px -96px}
.down1 {width:32px; height:32px; background-position: -224px -64px}
.down2 {width:32px; height:32px; background-position: -192px -96px}
.dtogi1 {width:32px; height:32px; background-position: -192px -64px}
.dtogi2 {width:32px; height:32px; background-position: -224px -32px}
.dwleft1 {width:32px; height:32px; background-position: -192px -32px}
.dwleft2 {width:32px; height:32px; background-position: -160px -96px}
.dwright1 {width:32px; height:32px; background-position: -160px -64px}
.dwright2 {width:32px; height:32px; background-position: -160px -32px}
.jare2 {width:32px; height:32px; background-position: -224px -0px}
.kaki1 {width:32px; height:32px; background-position: -192px -0px}
.kaki2 {width:32px; height:32px; background-position: -160px -0px}
.left1 {width:32px; height:32px; background-position: -128px -96px}
.left2 {width:32px; height:32px; background-position: -128px -64px}
.ltogi1 {width:32px; height:32px; background-position: -128px -32px}
.ltogi2 {width:32px; height:32px; background-position: -128px -0px}
.mati2 {width:32px; height:32px; background-position: -96px -96px}
.mati3 {width:32px; height:32px; background-position: -96px -64px}
.right1 {width:32px; height:32px; background-position: -96px -32px}
.right2 {width:32px; height:32px; background-position: -96px -0px}
.rtogi1 {width:32px; height:32px; background-position: -64px -96px}
.rtogi2 {width:32px; height:32px; background-position: -64px -64px}
.sleep1 {width:32px; height:32px; background-position: -64px -32px}
.sleep2 {width:32px; height:32px; background-position: -64px -0px}
.up1 {width:32px; height:32px; background-position: -32px -96px}
.up2 {width:32px; height:32px; background-position: -32px -64px}
.upleft1 {width:32px; height:32px; background-position: -32px -32px}
.upleft2 {width:32px; height:32px; background-position: -32px -0px}
.upright1 {width:32px; height:32px; background-position: -0px -96px}
.upright2 {width:32px; height:32px; background-position: -0px -64px}
.utogi1 {width:32px; height:32px; background-position: -0px -32px}
.utogi2 {width:32px; height:32px; background-position: -0px -0px}
